### This jupyter notebook contains training process of machine learning models with the help of tensorflow library in the given problem.

### **Author : Umidjon Sattorov student at Mohirdev platform**

In [1]:
#Importing all necessary libraries and modules
#Data processing
import pandas as pd
import numpy as np

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns

#Preprocessing and feature engineering
from sklearn.model_selection import train_test_split

#Modelling
import tensorflow as tf
import tensorflow.compat.v2.feature_column as fc

#Metrics
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.metrics import confusion_matrix, classification_report

#Saving machine learning model into pickle format
import dill

In [2]:
#Reading dataset into pandas dataframe
df = pd.read_csv(filepath_or_buffer = './data/imputed_train_dataset.csv', sep = ',')
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,Male,disloyal Customer,33,Business travel,Eco,571,2,3,2,...,4,3,1,3,4,3,4,10,3.0,0
1,2,Female,Loyal Customer,49,Business travel,Business,1431,4,1,4,...,5,5,5,5,3,5,3,0,0.0,1
2,3,Female,Loyal Customer,43,Business travel,Eco,867,1,4,4,...,1,1,1,1,1,1,2,0,18.0,0
3,4,Female,Loyal Customer,27,Business travel,Business,1550,3,3,3,...,2,4,4,5,5,4,2,0,0.0,1
4,5,Male,Loyal Customer,11,Personal Travel,Eco,526,3,4,3,...,4,5,2,5,3,5,4,0,10.0,0

In [3]:
#Checking iff there is any empty values in the dataset
df.isna().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [4]:
#Splitting dataframe into x and y sets
x = df.drop(columns = 'satisfaction')
y = df['satisfaction']

In [5]:
#Dividing data into train and test datasets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [6]:
#Creating training and test dataset for using with tensorflow algorithms
CATEGORICAL_COLUMNS = x.select_dtypes(include = ['object']).columns
NUMERIC_COLUMNS = x.select_dtypes(include = ['int64', 'float64']).columns

feature_columns = []
for feature_name in CATEGORICAL_COLUMNS:
  vocabulary = df[feature_name].unique()  
  feature_columns.append(tf.feature_column.categorical_column_with_vocabulary_list(feature_name, vocabulary))

for feature_name in NUMERIC_COLUMNS:
  feature_columns.append(tf.feature_column.numeric_column(feature_name, dtype=tf.float32))

WARNING:tensorflow:From C:\Users\User\AppData\Local\Temp\ipykernel_11596\4040231870.py:8: categorical_column_with_vocabulary_list (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.
WARNING:tensorflow:From C:\Users\User\AppData\Local\Temp\ipykernel_11596\4040231870.py:11: numeric_column (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.

In [7]:
#Creating input function
def make_input_fn(x, y, num_epochs = 10, shuffle = True, batch_size = 32):
  def input_function():  
    ds = tf.data.Dataset.from_tensor_slices((dict(x), y)) 
    if shuffle:
      ds = ds.shuffle(1000)  
    ds = ds.batch(batch_size).repeat(num_epochs) 
    return ds 
  return input_function 

train_input_fn = make_input_fn(x_train, y_train) 
eval_input_fn = make_input_fn(x_test, y_test, num_epochs=1, shuffle=False)

### Modelling linear classifier

In [12]:
linear_est = tf.estimator.LinearClassifier(feature_columns = feature_columns)

AttributeError: module 'tensorflow' has no attribute 'estimator'